<% data.each do |api_item| %>
  <% if api_item[:api].any? %>
    <div class="overflow-x-auto">
      <table class="border-collapse w-full">
        <thead>
          <tr>
            <% api_item[:api][0].keys.each do |header| %>
              <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"><%= header %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% api_item[:api].each do |item| %>
            <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
              <% item.keys.each_with_index do |key, index| %>
                <td class="<%= index == 0 ? 'font-bold' : '' %> w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                  <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"><%= key %></span>
                  <%= item[key] %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br/>
  <% end %>
<% end %>
